- model_class = Feed
.page-header
  %h3 登録フィード情報編集
  /%h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
= render :partial => "form"

/%h1 Editing feed

/= render 'form'

/= link_to 'Show', @feed
/\|
/= link_to 'Back', feeds_path
