- model_class = Feed
.page-header
  %h3 フィード新規登録
  /%h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
= render :partial => "form_add"

/%h1 New feed

/= render 'form'
/= render 'form_add'

/= link_to 'Back', feeds_path
