- model_class = Feed
-#.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

/= link_to t('.new', :default => t("helpers.links.new")), new_feed_path, :class => 'btn btn-primary'
/= link_to t('.new', :default => t("helpers.links.new")), new_feed_path, :class => 'btn btn-mini btn-primary'
/= link_to 'New Feed', new_feed_path

/%ul
%h2 登録フィード一覧
= link_to t('.new', :default => t("helpers.links.new")), new_feed_path, :class => 'btn btn-primary'
%dl
  -#%dd
    %h3 登録フィード一覧
  -#%dd
    = link_to t('.new', :default => t("helpers.links.new")), new_feed_path, :class => 'btn btn-primary'
  %font(size="3px")
    - @feeds.each do |feed|
      %dd
        %img{:src => 'http://www.google.com/s2/favicons?domain='+feed.url+''}
        = link_to feed.title, feed
