%p
  %u
    %strong
      %font(size="4") 登録フィード
-#%ul.sidebar
  - @categories.each do |category|
    %li.category
      = link_to category.name, category
      %ul
        - category.feeds.each do |feed|
          %li.site
            = link_to @feed.title, feed

%ul.sidebar
  %font(size="3px")
    - @feeds.each do |feed|
      %li.site
        = link_to feed.title, feed
