- model_class = Feed

%h2 登録フィード一覧
= link_to t('.new', :default => t("helpers.links.new")), new_feed_path, :class => 'btn btn-primary'
%dl
  %font(size="3px")
    - @feeds.each do |feed|
      %dd
        %img{:src => 'http://www.google.com/s2/favicons?domain='+feed.url+''}
        = link_to feed.title, feed
